#scroller {
float: left; 
margin-top: 30px; 
margin-left: 10px;
height:300px;
}
/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
  
#project_nav, .scrollable {
width: 620px;
}  
.scrollable {
	
    /* required settings */
    position:relative;
    overflow:hidden;

	height: 430px;
	
    /* custom decorations */
    border:1px solid #ccc;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    position:absolute;
    clear:both;
    width: 20000em;
}

.items_page {
	width: 520px;
	float: left;
}

.items_page a{
	font-weight: bold;
	color: black;
	text-shadow: 1px 1px 1px #ccc;
}

/* single scrollable item */
.scrollable img {
    float:left;
/*  margin:20px 5px 20px 21px;
	padding:2px;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;*/
    background-color:#fff;
    width: 225px;
    border:1px solid #ccc;

  
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}
